body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	overflow: hidden;
	box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: 100%;
	margin-top: -3vh;
}

.container-fluid {
    width: 100%;
    height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.row-height {
	height: 90.5vh;
}

.row-height .col-2, .row-height .col-10 {
    overflow-y: scroll;
    height: 100%;
}

.border-right {
    border-right: 1px solid #dee2e6;
}

.list-group {
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: .25rem;
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.text-center {
	text-align: center;
}

h3 {
    font-size: 1.75rem;
}

.text-light {
    color: #f8f9fa;
}

.justify-content-center {
    justify-content: center;
}

.bg-dark {
    background-color: #343a40;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
	list-style: none;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;	
}

h4 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.col-2 {
    flex: 0 0 35vh;
    max-width: 35vh;
	padding-right: 1%;
	padding-left: 1%;
}

.col-10 {
    flex: 0 0 171vh;
    max-width: 171vh;
	padding-left: 1%;
}

.my-2 {
    margin-top: .5rem;
}

.mb-2, .my-2 {
    margin-bottom: .5rem;
}

.flex-column {
    flex-direction: column !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

nav {
	margin-top: 0px;
	left:0;
	top:0px;
	width: 100%;
	vertical-align: middle;
}

.font-italic {
    font-style: italic !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.modules {
	position: relative;
}

.module {
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
    position: absolute;
    resize: horizontal;
    overflow: hidden;
    
}

.module-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.module-title {
    margin-bottom: .75rem;
}

.dragTarget {
	border-right: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
	padding: 3px;
	cursor: move;
}
